<table class="table table-light">
    <tr>
        <th>Cantidad</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Total</th>
        <th>Eliminar</th>
    </tr>
    <tbody>
        <tr *ngFor="let producto of pedidoDetalle; let i = index">
            <td> {{ producto.cantidad }}</td>
            <td> {{ producto.producto }} </td>
            <td> {{ producto.precio }} </td>
            <td> {{ producto.total }} </td>
            <td><button (click)="eliminarProducto(i)">Eliminar</button> </td>
        </tr>
    </tbody>
</table>
